.navbar{
	display:flex;
	justify-content: space-around;
	padding: 10px;
	box-shadow:0 1px 2px -2px #fff;
}
.nav-menu{
	display: flex;
	align-items: center;
	gap:20px;
	font-size: 23px;
	font-weight: 400;
}
.nav-logo{
	display: flex;
	align-items: center;
	gap:12px;
	width:13%;
	height:13%;
}
.nav-logo img{
	width:27%;
	height:13%;
}
.nav-menu li{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap:3px;
	cursor: pointer;
}
.nav-login-cart{
	display: flex;
	align-items: center;
	gap:40px;
}
.nav-login-cart input{
	width:163px;
	height: 23px;
	font-size:17px;
	font-weight: 500;
}
.nav-login-cart button{
	width:137px;
	height: 58px;
	outline: none;
	border: 1px solid #7a7a7a;
	border-radius: 75px;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
}
.nav-cart-count{
   width: 22px;
   height: 22px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: -35px;
   margin-left: -55px;
   border-radius: 11px;
   font-size: 18px;
}
.nav-drop{
	display: none;
}

@media screen and (max-width:1280px){
   .navbar{
   	padding: 12px 45px;
   }
   .nav-logo img{
      width:40px;
   }
   .nav-logo p{
   	font-size:17px;
   }
   .nav-menu{
   	 font-size:20px;
   	 gap:20px;
   }
   .nav-login-cart button{
     width:98px;
     height: 30px;
     font-size: 16px;
     font-weight: 500; 
   }
}
@media(max-width:1024px){
	.nav-login-cart button{
		width:80px;
		height: 23px;
		font-size: 14px;
	}
	.nav-logo p{
   	 font-size:14px;
   }
}
@media (max-width: 800px){
	.navbar{
		padding: 10px 0px;
	}
	.nav-drop{
		font-size: 13px;
		background: white;
		margin-left:40px;
		display: block;
		width: 10px;
		rotate:-90deg;
		transition:0.4s;
		padding: 5px;
	}
	.nav-menu{
		display: none;
		height: 60px;
		width: 100%;
		position: absolute;
		background: #222;
		justify-content: center;
		top:53px;
	}
	.nav-menu-visible{
		display: flex;
	}
	.nav-drop .open{
		transform:rotate(90deg);
	}
}
@media (max-width:500px){
	.navbar{
		width: 5px 0px;
		padding: 4px 0px;
	}
	.nav-drop{
		padding-right: 12px;
	}
	.nav-logo{
		transform: scale(0.6);
	}
	.nav-menu{
		height:50px;
		top:45px;
	}

    .nav-login-cart{
	   transform:scale(.8);
    }
}

